# macOS
.DS_Store

# Node / tooling
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Python
venv/
.env
__pycache__/
*.pyc

# Build output
.dist/
dist/
build/
coverage/

# Editors
.vscode/
.idea/
